

	{% block content %}

		<br><br>
			<div>
					<div>
						<div>
							<h4 style="text-align:center;">Hello, {{ user }}</h4>
			      			<hr>
			    			<div>
			    				<p style="font-size: 20px">User:</p>
			    				<p>{{ user }}</p>
								<p style="font-size: 20px">Challenge:</p>
								<p>{{ challenge }} </p>
			    				<p style="font-size: 20px">Confirmed:</p>
				  				<p>{{ attempt.confirmed_by_admin }}</p>

							</div>
						</div>
					</div>
				    <div>
						<h5 style="text-align:center;">Upload challenge</h5>
						<form method="post">
							{% csrf_token %}
							{{ attempt_form }}
							<button type="submit">Upload</button>
						</form>
					</div>
				    <br>

			</div>


	{% endblock %}